/*okten stylesheet*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#F7F7F7;
	transition:all 0.4s;
	
}
.form-control{
	background:#F7F7F7;
	color:#3498DB;
	width:200px;
	float:left;
	transition:all 0.5s;
}
.form-control:focus{
	width:220px;
}
.block1{
	background: #fff;
	color:#3498DB;
	padding: 20px 5px 20px 5px;
	-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
box-shadow: 0.5px 0.5px 0.5px #E1E1E1;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
border-bottom:1px solid #fff;
}
.block1 .contacts p{
	display:inline;
	padding-right:10px;
	
}
.block1 .contacts a{
	color:#fff;
}
.socials a img{
	color:#fff;
}
.contacts{
	float:right;
	padding:5px 0;
}

.socials a img:hover{
	opacity:0.7;
}
.socials  a img{
	transition:all 0.4s;
}

.logo img{
	width:200px;
	
	margin-top:25px;
	transition:all 0.4s;
	-moz-box-shadow: 1px 1px 1px #E1E1E1;/*FF 3.5+*/
-webkit-box-shadow: 1px 1px 1px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
box-shadow: 1px 1px 1px #E1E1E1;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
border:1px solid #fff;
	
}
.logo img:hover{
	opacity:0.7;


}
.form-control{
border-radius:0px;
box-shadow:none;
border:0px;
	-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
box-shadow: 0.5px 0.5px 0.5px #E1E1E1;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
}
.navigation{
	margin-top:80px;
	float:right;
		-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
box-shadow: 1px 1px 1px #E1E1E1;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
background:#fff;
	
}
.nav-pills > li > a{
	border-radius:0px;
	
}
.nav-pills  li.active  a{
background:#3498DB;
transition:all 0.4s;
}
.nav-pills  li a{
	padding:25px 35px;
	transition:all 0.4s;
}
.block3{
	background:url(../img/sl.png) no-repeat;
	background-size:100%;
	height:400px;
	margin:20px 0;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
box-shadow: 1px 1px 1px #E1E1E1;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
}
.block4{
	text-align:center;
	padding-bottom:40px;
	margin-top:40px;
}
.block4 .column{
width:95%;
padding:10px;
	background:#fff;
		-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
box-shadow: 1px 1px 1px #E1E1E1;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
	margin-right:5px;
}
.block4 .box{
	background:#3498DB;
	width:95%;
	transition:all 0.4s;
	font-weight:bold;
	height: 140px;
}
.block4 .column h4{
	text-transform:uppercase;
	color:#3498DB;
	font-size:23px;
	font-family: 'Oswald';
	font-weight:200;
	margin:15px 0;
	
}
.block4 .box img{
	width:100px;
	padding:30px 0;
	transition:all 0.4s;
}
.block4 .box:hover{
	background:#252525;
}

.block4 .box:hover img{
	transform:scale(1.3,1.3);
}

.block4 .column p{
	font-size:12px;
	line-height: 18px;
	color:#7E8097;
}
.box-buy{
	background:#535961;
	padding:10px;
	text-align:center;
	
}

.buy-box{
	margin-top:20px;
	margin-bottom:20px;
	background:#fff;
	-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
	-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
	box-shadow: 1px 1px 1px #E1E1E1;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
}
.buy-box h2{
	font-family: 'Oswald';
	font-weight:300;
	font-size: 20px;
	line-height: 22px;
}
.buy-box p{
color: rgb(151, 156, 161);
font-size:12px;
}
.buy{
	text-align:center;
	font-size: 20px;
	padding: 25px 30px;
	font-family: 'Oswald';
	text-transform:uppercase;
	font-weight:200;
	background:#3498DB;
	transition:all 0.3s;
	color:#fff;
	float:right;
}

.buy:hover{
	background:#535961;
	color:#fff;
	text-decoration:none;
}
.block6{
	margin:40px auto;
	text-align:center;
}

.block-title{
	text-align:left;
	margin-bottom:20px;
	background: #FFFFFF;
	-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
	-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
	box-shadow: 1px 1px 1px #E1E1E1;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
}
.block-title h3{
	padding: 10px;
	background:#535961;
	color:#FFFFFF;
	font-weight:200;
	width:180px;
	text-transform:uppercase;
	font-family: 'Oswald';
	margin-left:-15px;
	-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
	-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
	box-shadow: 1px 1px 1px #E1E1E1;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
	
}
.thumbnail{
	margin-bottom:20px;
	border-radius:0px;
		-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
	-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
	box-shadow: 1px 1px 1px #E1E1E1;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
	overflow:hidden;
	border-bottom:4px solid #3498DB;
}
.thumbnail span{
	font-size:25px;
}
.thumbnail h3{
	font-family: 'Oswald';
	font-weight:200;
	font-size:25px;
	color:#3498DB;
}
.thumbnail h3 a:hover{
	text-decoration:none;
	color:#535961;
}
.thumbnail p{
	color:#7E8097;
	font-size:12px;
}
.hrv{
	transition:all 0.3s;
	overflow:hidden;
	-webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.5s ease;/* Firefox 4-15 */
	-o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
	transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.ptf-hover{
	position:absolute;
	top:10px;
	left:50%;
	margin-left:-60px;
	display:none;
	-webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.5s ease;/* Firefox 4-15 */
	-o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
	transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}


.hrv:hover{
	 opacity:0.6;
	
}
.hrv:hover .ptf-hover {
	display:block;
	transition:all 0.3s;
	
}
.thumbnail > .hrv a > img {
    display: block;
    height: auto;
    max-width: 100%;
	transition:all 0.3s;
}

.btn-primary{
	background: #3498DB;
	border:none;
	border-radius:0px;
	transition:all 0.3s;
}
.btn-default{
	background:#535961;
	color:#fff;
	border:none;
	border-radius:0px;
	transition:all 0.3s;
}
.btn{
padding: 10px 15px;
transition:all 0.3s;
}
.block7{
	margin:40px 0;
}
.src{
	font-size:22px;
	color:#fff;
	background:#3498DB;
	padding:6px;
	transition:all 0.3s;
			-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
	-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
	box-shadow: 1px 1px 1px #E1E1E1;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
}
.src:hover{
	background:#fff;
	color:#3498DB;
}
.socials a{
	width:50px;
	padding:10px 15px;
	font-size:23px;
	background:#3498DB;
	transition:all 0.3s;
}
.socials a:hover{
	text-decoration:none;
	background:#535961;
}
.feautures{
	background:#fff;
	height:100%;
	margin:0 10px 10px 0;
	padding:35px 10px 10px 10px;
	-moz-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*FF 3.5+*/
	-webkit-box-shadow: 0.5px 0.5px 0.5px #E1E1E1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1)";/*IE 8*/
	box-shadow: 1px 1px 1px #E1E1E1;
	
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#E1E1E1);/*IE 5.5-7*/
}
.feautures i{
	font-size:29px;
	color:#535961;
	padding-top:15px;
}
.feat{
	margin-bottom:20px;
	color:#535961;
	font-size:14px;
}
.feautures span{
	padding-top:-5px;
}
.feat1{
	background:#3498DB;
	width:55px;
	padding:10px 0;
	text-align:center;
	transition:all 0.3s;
}
.feat1 i{
	
	color:#fff;
}
.feat-txt{
	max-width:380px;
	float: left;
}
.media h4{
	font-family: 'Oswald';
	font-weight:200;
	font-size:18px;
	color:#535961;
}
.media p{
	color:#7E8097;
	font-size:12px;
}
.feat1:hover{
	text-decoration:none;
	background:#535961;
}
.media i:hover{
	transform:scale(1,2);
}
.thumbnail > .img-container > img{
	max-width:100%;
	height:auto;
	transition:all 0.3s;
}
.thumbnail > .img-container > img:hover{
	transform:scale(1.5,1.5);
} 
.img-container{
	overflow:hidden;
	position:relative;
}
.latest-post .thumbnail h3{
	background:#535961;
	color:#fff;
	width:100%;
	padding: 5px 10px;
	font-size: 25px;
}
.latest-post .thumbnail .caption{
	padding:9px 0;
	margin-top:-25px;
}
.latest-post .rdm{
	margin-bottom:-10px;
	margin-right:-15px;
	float:right;
}
.latest-post  p{
	padding:0px 5px;
}
.date-tm{
	position:absolute;
	bottom:0;
	text-align:center;
	background:#3498DB;
	color:#fff;
	padding: 0px 20px;
}
.date-tm h2{
	font-family: 'Oswald';
	font-weight:200;
	margin:5px 0px;
}
.date-tm p{
	color:#fff;
}
.arrows{
	margin-right:0px;
	display:inline;
}
.block-title{
	position:relative;
}
.controls{
	position:absolute;
	right:0;
	top:13px;
	color:#fff;
}
.arrow i{
	padding-left:20px;
	background:#535961;
	padding:15px;
	color:#fff;
	
}
.arrow i:hover{
	text-decoration:none;
	background: #3498DB;
	transition:all 0.3s;
}